.main,
.main>*:not(.background) {
    position: relative;
    z-index: 2;
}

.background {
    position: absolute;
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: auto;
}

/* .main {
    background: url("assets/artist.jpg") center;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 25vw;
} */

.logo {
    width: 25vw;
    max-width: 250px;
}

.main-btn {
    display: block;
    margin-top: 20%;
}

.listen-now {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 21px;
    padding: 7px 25px;
    border-radius: 20px;
    background: #805959;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.other-btn {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.social-media {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.social-media:first-child {
    margin-left: 25px;
}

.social-media svg {
    height: 75px;
    width: 75px;
}

.social-media-item * {
    transition: fill 0.3s ease;
}

.social-media-item:hover * {
    fill: red;
    cursor: pointer;
}

.other-platforms {
    margin-right: 25px;
}

.other-platforms>h3 {
    margin: 0;
    text-align: center;
    /* margin-right: 125px;
    display: block; */
}

.other-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    height: 75px;
}

.other-buttons>button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    height: 75%;
    width: 125px;
    border-radius: 17px;
    background: #4E4E4E;
    cursor: pointer;
}



.other-platforms-svg {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 1020px) {
    .background {
        object-fit: cover;
        height: 592px;
    }

    .logo {
        margin-top: 25px;
    }

    .main-btn {
        margin-top: 5vw;
    }

    .other-btn {
        flex-direction: column;
    }

    .other-btn .social-media {
        margin: auto;
        justify-content: center;
    }

    .other-btn .social-media .social-media:first-child {
        margin-left: 25px;
    }

    .other-btn .social-media svg {
        height: 50px;
        width: 50px;
    }

    .listen-now {
        font-size: 20px;
        padding: 5px 15px;
    }

    .listen-now svg {
        width: 35px;
        height: 35px;
    }

    .other-platforms {
        margin: 0;
    }

    .other-platforms h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .other-btn .other-buttons {
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
        padding: auto 10px;
    }

    .other-buttons button {
        padding: 0px 10px;
        height: 60px;
    }

    .other-buttons button svg {
        widows: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 912px) {
    .background {
        width: 100%;
        height: calc(100% + 20px);
    }
}

@media screen and (max-width: 425px) {
    .background {
        width: 100%;
        height: calc(100% - 190px);
    }

    .header__language {
        margin-left: 0;
    }
}