header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #404040;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
    z-index: 5;
}

ul {
    padding: 0;
    margin: 10px 20px;
    gap: 20px;
    list-style-type: none;
    display: flex;
}

.header__language {
    gap: 5px;
}