@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: normal;

  color-scheme: light dark;
  color: #fff;
  background-color: #1E1E1E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: red;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  background-color: #1E1E1E;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, transform 0.25s ease-in-out;
}

button:hover {
  border-color: rgb(127, 127, 127);
  transform: scale(1.1);
}

button:active {
  transform: scale(0.8);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  background-color: #333333;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}